{% for person in personlist %}
    {# Each "contact" is a Contact model object. #}
    {{ person.name|upper }}<br>
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if person.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ person.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ person.number }} of {{ person.paginator.num_pages }}.
        </span>

        {% if person.has_next %}
            <a href="?page={{ person.next_page_number }}">next</a>
            <a href="?page={{ person.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>